---
Language: Cpp
# BasedOnStyle: LLVM
IndentWidth: 2
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
# BinPackArguments: BPPS_BinPack
BinPackParameters: true
ReferenceAlignment: Left
PackConstructorInitializers: NextLine
PointerAlignment: Left

