[submodule "external/ds"]
	path = external/ds
	url = http://github.com/silentrald/ds-cpp.git
[submodule "external/llhttp"]
	path = external/llhttp
	url = https://github.com/nodejs/llhttp.git
	branch = release
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/hiredis"]
	path = external/hiredis
	url = https://github.com/redis/hiredis.git
